<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
            		Araç kiralama global dünyada ihtiyaç haline gelen hızla gelişen bir hizmet şekli olmuştur. Demirkesen lüx ve bakımı sürekli yapılan araç flosuna sahiptir.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
Sitemizde Firmamız ve hizmetlerimiz hakkında detaylı bilgilere ulaşabilir, bizimle iletişime geçebilir, sosyal medya kanallarımızı takip edebilir ve kampanyalarımızdan haberdar olabilirsiniz.
            </p>
        </div>
    </div>
</section>
